
body{
    font-family:'Roboto', sans-serif;
    color:#373d3f;
    font-size: 14px;
    a{
        text-decoration: none;
        color:#0786a0;

        &:hover {
            color:#ef8641;
            text-decoration: none;
        }
    }
}

.container{
    margin: 15px 5px;
}

.std-list{
    display:flex;
    margin-left:5px;
}

#list-container{
    display:flex;
    flex-direction: column;
}

#btn-back{
    display:flex;
    align-items: center;
    height:25px;
    width:35px;
    &:hover{
        color:#0786a0;
        cursor:pointer;
    }
}

hr{
    margin-top:0.5rem;
    margin-bottom:0.5rem;
}

.description{
    margin:5px 0px 10px 0px;
    font-weight: bold;
}

.heading{
    margin:5px 0px 3px 0px;
    font-weight: bold;
    font-size: 15px;
}

#standard{
    margin:10px 0px;
    padding:5px;

    #stdTitle{
        font-weight: bold;
    }

    #btnContainer{
        display:flex;
        flex-direction: row;
    }

}
