<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <link rel="stylesheet" href="https://ssl.gstatic.com/docs/script/css/add-ons1.css">
    <?!= include('style'); ?>
</head>

<body>
    <div id="app">
      <div class="container">
        <div id="btn-back" v-if="btnBackVisible" @click="goBack">
            Back
        </div>
        <hr v-if="btnBackVisible">
        <div id="listContainer">
            <template class="std-list" v-for="listItem in listItems">
                <h5 class="description" v-if="typeof listItem === 'object' && listItem['description']">
                    {{listItem['description']}}
                </h5>
                <p class="heading" v-else-if="typeof listItem ==='object' && listItem['heading']">
                    {{listItem['heading']}}
                </p>
                <a v-else class="std-list" href="#" @click.prevent="getStandard">{{listItem}}</a>
            </template>
        </div>

        <template v-if="stdText">
        <div id="standard" class="card">
            <p id="stdTitle" class="card-title">
                Standard
            </p>
            <p class="card-text">{{stdText}}</p>
            <a href="#" class="btn btn-primary">Paste Short</a>
            <a href="#" class="btn btn-primary">Paste Full</a>
          </div>
         </template>
    </div>


        <!-- <div id="standard">{{stdText}}</div> -->
    </div>

    <!-- CDNS for jquery and bootstrap -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@2.5.2/dist/vue.js" charset="utf-8"></script>

    <!-- uncomment this if on gapps -->
    <?!= include('standards'); ?>
    <?!= include('javascript'); ?>
            <!-- uncomment this if local -->
            <!-- <script src="standards.js" charset="utf-8"></script> -->
            <!-- <script src="javascript.js" charset="utf-8"></script> -->
</body>

</html>
